
    <div class="container">
      <div class="row">
        <div id="filter" class="filter">
          Genres:
          <div id="genres-filter">
          <h3>Filter by genres</h3>
          </div>
          Ratings:
          <div id="ratings-filter">
          <h3>Filter by ratings</h3>
          </div>
        </div>
        <div id="main"  class="content">
          <div id="loading">Loading...</div>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      MA.collections.categories = new MA.Collections.Categories(<%= @categories %>);
      <% if signed_in? -%>
        MA.currentUser = new MA.Models.User(<%= current_user.to_json.html_safe %>);
      <% else -%>
        MA.currentUser = null;
      <% end -%>
      MA.start();
    </script>
