<div id="filter-inner" class="span3 filter">
        <ul class="nav nav-list filter affix">
          <li class=""><a href="#"><i class="icon-chevron-right"></i>Drama</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i>Action</a></li>
        </ul>
      </div>