<a href="#genre/{{ name }}" class="genre-item {{#if selected}}selected{{/if}}" data-genre="{{ name }}">
  {{ display_name }} ({{ total }})
{{#if selected }}
<i class="icon-ok" style="float: right"></i>
{{/if}}
</a>