<div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div id="unauthenticated-view-container" class="container nav-collapse">
            <ul class="nav">
              <li><a id="logout" href="#logout" data-toggle="tab" data-content="login">Logout</a></li>
<li>{{ email }}</li>
            </ul>
        </div>
     </div>
  </div>
</div>