<div class="navbar-inner">
   <div class="container no-collapse">
      <a href="#" class="brand">MoviesDB</a>
      <ul id="navbar" class="nav pull-right">
        <li><a id="addmovie" href="#" data-content="addmovie">Add movie</a></li>
        <li><a id="logout" href="/logout">Logout</a></li>
        <li><a href="#">{{ email }}</a></li>
      </ul>
    </div>
  </div>
</div>
