<ul id="navbar" class="nav pull-right">
   <li><a id="logout" href="#addmovie" data-content="addmovie">Add movie</a></li>
   <li><a id="logout" href="#logout" data-content="login">Logout</a></li>
<li><a href="#">{{ email }}</a></li>
</ul>
