<div class="title">  
  {{ title }} 
</div>
{{#if editable }}
  <select class="add-rating">
    <option>5 stars</option>
    <option>4 stars</option>
    <option>3 stars</option>
    <option>2 stars</option>
  <select/>
{{/if}}
<div class="stars">
  {{#liststars stars }}{{/liststars}}
</div>
<div class="label label-{{ category }}">
  {{ category }}
</div>
<div class="description" style="display:none">
  {{ description }}
</div>